SHAPESHIFT_URI=https://app.shapeshift.com
SHAPESHIFT_PRIVATE_URI=https://private.shapeshift.com
SHAPESHIFT_SANDBOX_URI=https://yeet.shapeshift.com
DEVELOP_URI=https://develop.shapeshift.com
RELEASE_URI=https://release.shapeshift.com

# used for support widget, a la intercom
CHATWOOT_URI=https://app.chatwoot.com
LOGGING_WEBVIEW=true
